.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #000000;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tile{
  height: 200px;
  width: 200px;
  margin: 10px;
  background: silver;
  float: left;
  font-size: 11px;
  text-align: left;
}

.newTweetButton{
  background-color: lightsteelblue;
  color: black;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
  padding: 10px;
  position: absolute;
  top: 25px;
  right: 200px;
}

.input{
  background: none;
  outline: none;
  border: 0;
  width: 150px;
  margin-top: 15px;
  font-size: 11px;
}


.middled{
  text-align: center;
}

textarea{
  resize: none;
  height: 60px;
  width: 40px;
  line-height: 10px;
  font-size: 11px;
}

.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 5px;
  border-color:lightblue;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 10px;
  padding: 0 16px 16px 16px;
  max-width: fit-content;
  margin-top: 10px;
}

.twitter-tweet-p {
  font-size: 16px;
  font-weight: normal;
  line-height: 15px;
}

.twitter-tweet-a {
  color: inherit;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  outline: 0 none;
}

.twitter-tweet-d {
  color: silver;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  outline: 0 none;
}

.twitter-tweet-a:hover,
.twitter-tweet-p:focus {
  text-decoration: underline;
}
